@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #333333;
    --card: #ffffff;
    --card-foreground: #333333;
    --popover: #ffffff;
    --popover-foreground: #333333;
    --primary: #f3799e;
    --primary-foreground: #ffffff;
    --secondary: #f9c7d9;
    --secondary-foreground: #333333;
    --muted: #e8e9e9;
    --muted-foreground: #909090;
    --accent: #f8f8ff;
    --accent-foreground: #333333;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #bebebe;
    --input: #e8e9e9;
    --ring: #f3799e;
    --chart-1: #e05d34;
    --chart-2: #2a9d8f;
    --chart-3: #264653;
    --chart-4: #e9c46a;
    --chart-5: #f4a261;
    --radius: 0.5rem;
  }
  .dark {
    --background: #292929;
    --foreground: #ffffff;
    --card: #464646;
    --card-foreground: #ffffff;
    --popover: #292929;
    --popover-foreground: #ffffff;
    --primary: #f3799e;
    --primary-foreground: #ffffff;
    --secondary: #f9c7d9;
    --secondary-foreground: #ffffff;

    --muted: #2d353e;
    --muted-foreground: #bebebe;
    --accent: #2d353e;
    --accent-foreground: #ffffff;
    --destructive: #ff5252;
    --destructive-foreground: #ffffff;
    --border: #464646;
    --input: #464646;
    --ring: #f3799e;
    --chart-1: #3465cc;
    --chart-2: #37a077;
    --chart-3: #d77820;
    --chart-4: #a14cce;
    --chart-5: #e3558e;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 简单的过渡动画效果 */
@layer components {
  input,
  select,
  textarea,
  button {
    @apply transition-colors duration-200;
  }

  /* 修复 Radix UI Checkbox 隐藏 input 在移动端造成双重滚动条的问题 */
  button[role='checkbox'] + input[type='checkbox'] {
    display: none !important;
  }
  button[role='radio'] + input[type='radio'] {
    display: none !important;
  }
}
